body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: orange;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}